.advice-quote {
  margin: 1rem .5rem .5rem .5rem;
  height: 160px;
  font-size: 1rem;
  color: var(--Light-Cyan);
  letter-spacing: -0.3px;
}

@media (max-width: 550px) {
  .advice-quote {
    margin: .5rem ;
    height: 140px;
    font-size: 0.8rem;
  }
}
